{% extends "account/base.html" %}

{% block head_title %} - Invitation only Sign Ups{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
      <h2>Invitation only Sign Ups</h2>
      <p>SatNOGS Network is currently on Beta state.</p>
      <p>
        Please start by creating an account on our
        <a href="https://network-dev.satnogs.org/" target="_blank">Development instance</a>.
        As soon as you have a ground station ready to join our production network you can request an account on our
        <a href="https://community.satnogs.org/" target="_blank">Community forum</a>.
      </p>
      <p>
        On details on how to Get Started check our
        <a href="https://wiki.satnogs.org/Get_Started" target="_blank">wiki page</a>.
      </p>
    </div>
  </div>
{% endblock %}
